*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(64, 9, 116);
    color: #eee9e9;
    
}
h1{
    text-align: center;
    font-size: x-large;
  
    margin-top: 50px;
}
.task{
   border: 2px solid red;
   margin-top: 50px;
   margin-bottom: 50px;
   width:70vw;
   margin-left: auto;
   margin-right: auto;
   /* From https://css.glass */
background: rgba(38, 37, 37, 0.45);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.1px);
-webkit-backdrop-filter: blur(9.1px);
border: 1px solid rgba(38, 37, 37, 1);
padding:20px 20px ;
border-bottom: 3px solid white;
display: flex;
justify-content: space-between;
}
.icon:hover{
    font-size: 22px;
    transition: 0,2s;
    cursor: pointer;
}
.icon-star-full , .icon-bin {
    opacity: 0.4;
}
.icon-star-full:hover{
color: orange;
opacity: 1;
}
.icon-bin:hover{
    color: red;
    opacity: 1;
}
.icon-angry{
    color: yellow;
}
h2{
    font-size: x-large;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}
form{
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 15vw;
    border-radius: 6px;

}
button{all:unset;}
.icon-upload2{
 font-size: 30px;
margin-left: 10px;
position: relative;
top: 9px;

}
.icon-upload2:hover{
    font-size: 43px;
    color: green;
    cursor: pointer;
}
.dn{display: none;}
.icon-heart{
    color: red;
}
.icon-heart:hover{
    font-size: 24px;
}
.finish{
    text-decoration-line: line-through;
}